/* Write your CSS here */
.maincontainer {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading {
  font-size: 30px;
  color: #f0bb03;

  font-family: 'Roboto';
}

.para {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto';
}
.button {
  border-radius: 2px;
  color: #f0bb03;
  padding: 3px;
}
